menu "TractorKit Peripheral"
    choice
        prompt "Device kind"
        help
            The kind of peripheral. Set to custom for new designs.

        config TK_ENGINESENSE
            bool "EngineSense"
        config TK_NAVIS
            bool "Navis"
        config TK_CUSTOM
            bool "Custom"
    endchoice

    config TK_DEVICE_NAME
        string "Device name" if TK_CUSTOM
        default "EngineSense" if TK_ENGINESENSE
        default "Navis" if TK_NAVIS
        default "Custom peripheral"
        help
            Sets the base device name.

    config TK_CURRENT_SENSOR_ENABLE
        bool "Enable current sensor"
        default n
        help
            Enables the current sensor. Set to no if there is no current sensor onboard.

    config TK_ADC2_CH7_IS_GPIO
        bool "SAR ADC 2 channel 7 is a GPIO"
        depends on TK_ENGINESENSE
        default n
        help
            If this channel has a voltage divider, this should be set to no,
            meaning that this channel is used as an ADC input.
            If set to yes, its pin will be used as GPIO 27.

    config TK_ADC2_CH9_IS_GPIO
        bool "SAR ADC 2 channel 9 is a GPIO"
        depends on TK_ENGINESENSE
        default n
        help
            If this channel has a voltage divider, this should be set to no,
            meaning that this channel is used as an ADC input.
            If set to yes, its pin will be used as GPIO 26.


    menu "GPS"
        depends on TK_NAVIS || TK_CUSTOM
        config TK_GPS_ENABLE
            bool "Enable GPS"
            default y if TK_NAVIS
            default n
            help
                Enables the connection with the GPS.

    endmenu

    menu "Engine"
        depends on TK_ENGINESENSE || TK_CUSTOM
        config TK_ENGINE_RPM_ENABLE
            bool "Enable RPM sensor"
            default y if TK_ENGINESENSE
            default n
            help
                Enables the RPM sensor.

        config TK_ENGINE_RPM_GPIO
            int "RPM sensor GPIO"
            range 0 39
            depends on TK_ENGINE_RPM_ENABLE
            default 25 if TK_ENGINE_RPM_ENABLE
            default 0
            help
                Sets the default GPIO for the RPM sensor's pulse output.

        config TK_ENGINE_RPM_DEBOUNCE_US
            int "RPM pulse debounce time (in us)"
            range 100 10000
            depends on TK_ENGINE_RPM_ENABLE
            default 2000
            help
                The debounce time for the pulse interrupt.
                Useful for filtering hall sensor instability when magnet is moving.
            
        config TK_ENGINE_RPM_MAX_PERIOD
            int "Maximum pulse period (in ms)"
            range 100 100000
            depends on TK_ENGINE_RPM_ENABLE
            default 1000
            help
                If the interrupt doesn't get called within this maximum period,
                data will become not available because the frequency is too low.
                Used when the frequency is too low for a simple threshold.

        config TK_ENGINE_THERM_ENABLE
            bool "Enable engine I2C temperature sensor"
            default y if TK_ENGINESENSE
            default n
            help
                Enables the I2C IR temperature sensor.

        choice TK_ENGINE_THERM_MODEL
            prompt "Device kind"
            depends on TK_ENGINE_THERM_ENABLE
            default TK_ENGINE_THERM_MELEXIS_MLX90614
            help
                The thermometer model.

            config TK_ENGINE_THERM_MELEXIS_MLX90614
                bool "Melexis MLX90614"
        endchoice
    endmenu

    menu "Onboard LED"
        visible if TK_CUSTOM
        config TK_ONBOARD_LED_ENABLE
            bool "Enable onboard LED"
            default y if TK_ENGINESENSE || TK_NAVIS
            default n
            help
                Enables the onboard LED. Set to no if there is no LED on the board.

        config TK_ONBOARD_LED_GPIO
            int "Onboard LED GPIO"
            range 0 39
            depends on TK_ONBOARD_LED_ENABLE
            default 23 if TK_ENGINESENSE
            default 25 if TK_NAVIS
            default 0
            help
                Sets the onboard LED's GPIO number.
    endmenu
endmenu